@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  user-select: none;
}

::-webkit-scrollbar{
  height: 5px;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: silver;
  border-radius: 50px;
}


@mixin overlay{
  position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}




// ******************************************* components *******************************************
.hero-img-wrapper{
  position: absolute;
  min-width: 340px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    opacity: 0.5;
    filter: blur(8px);
  }
}

#section4{
  .forground-text{
    height: 80vh;
    overflow: hidden;
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  @media only screen and (max-width: 600px) {
    .forground-text{
      height: 90vh;
    }
  }
}

#section5{
  background-color: black;

  .overlay{
    @include overlay();
    background-image: url('../media/bg-1.png');
  }
    
}

#section6 {
  background-color: black;

  .overlay {
    @include overlay();
    background-image: url('../media/cars.png');
  }
.car-models{
  position: absolute;
  z-index: 5;
  bottom: 1rem;
  right: 1rem;
  background-color: silver;
  border-radius: 10px;
  img{
    mix-blend-mode: multiply;
  }
}
}


#section7 {
  background-color: black;

  .overlay {
    @include overlay();
    background-image: url('../media/yatch.png');
  }

}

#section8 {
  background-color: black;

  .overlay {
    @include overlay();
    background-image: url('../media/watches.png');
  }

}

#section9 {
  background-color: black;

  .overlay {
    @include overlay();
    background-image: url('../media/jets.png');
  }

}

#section10 {
  background-color: black;

  .overlay {
    @include overlay();
    background-image: url('../media/beach.png');
  }

}

#section11 {
  background-color: black;

  .overlay {
    @include overlay();
    background-image: url('../media/diamonds.png');
  }

}

#section12 {
  background-color: black;

  .overlay {
    @include overlay();
    background-image: url('../media/flags.png');
  }

}

// ******************************************* utils *******************************************
.section{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;

  .navigate-down{
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 1rem;
  }
}